<head>
    <title>User profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" >
                <div class="panel-heading"><h4>Information about: {{userInfo.username}}</h4></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <img ng-src ="{{userInfo.image}}">
                        </div>
                        <div class="col-md-10">
                            <div>Name: {{userInfo.username}}</div>
                            <div>Email: <a ng-href="{{user.socialUrl}}">{{userInfo.email}}</a></div>
                            <div>
                                <span class="label label-{{sitescount.label}}">{{sitescount.count}} sites</span>
                                <span class="label label-{{commentscount.label}}">{{commentscount.count}} comments</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h4>User sites:</h4></div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Create date</th>
                            <th>Raiting</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr dir-paginate="site in userSites | itemsPerPage: 5">
                            <td><a href="#/show/{{site.id}}">{{site.name}}</a></td>
                            <td>{{site.description}}</td>
                            <td>{{site.created_at}}</td>
                            <td>{{site.mark}}</td>
                            <td>
                                <a ng-if="current_user === url" href="#/edit/{{site.id}}" class="btn btn-success ">Edit</a>
                                <a ng-if="current_user === url" ng-click="deleteSite(site.id)" class="btn btn-danger ">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                        <dir-pagination-controls></dir-pagination-controls>
                    </table>
                </div>
                <div>
                    <div class="panel-footer">
                        <a ng-href="#/sites/create" class="btn btn-warning ">Create</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>



